*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
}

header{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #191970;
    justify-content: space-between;
}

header h2{
    font-size: 1.8em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

header h2:hover{
    color: #000000;
}

header nav{
    align-items: center;
    display: flex;
}

header nav a{
    margin-right: 1.3em;
    font-size: 1.5em;
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s ease-in-out;
}

header nav a:hover{
    color: #000000;
}

footer{
    background-color: #191970;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

main section table{
    width: 100%;
    border-collapse: collapse;
    background-color: #191970;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

main section table th{
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    padding: 12px;
}

main section table th{
    padding: 12px;
    border-top: 1px solid #ddd;
}

main section table tr:nth-child(even) td{
    background-color: #000000;
}

tr:hover td {
    background-color: #000000;
}